/* Reset de estilos para eliminar márgenes y padding predeterminados */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Estilo básico para el cuerpo del formulario */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f8f8;
}

/* Estilo para el contenedor del formulario de inicio de sesión */
form {
    width: 60%; /* Ajusta el ancho según tus preferencias */
    max-width: 400px; /* Establece un ancho máximo */
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
}

/* Estilo para el título del formulario */
.caption {
    font-size: 1.5em;
    margin-bottom: 20px;
}

/* Estilo para la lista no ordenada */
ul {
    list-style: none;
    padding: 0;
}

/* Estilo para cada elemento de la lista */
li {
    margin-bottom: 15px;
}

/* Estilo para las etiquetas de los campos */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 10   px;
}

/* Estilo para los campos de entrada de texto y contraseña */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo para el botón de submit */
input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
}

/* Estilo para el botón de submit al pasar el ratón por encima */
input[type="submit"]:hover {
    background-color: #2980b9;
}