/*Login formularioa*/
#logform{
    color:white;
    text-align: center;
    padding:5%;
    background-color: rgb(0, 0, 0);
    margin-bottom: 50px;
    border-radius: 10%;
    
}

#logform ul li{
    margin-top:20px;
    margin-bottom: 40px;
    list-style: none;
}

.caption{
    font-size:200%;
    margin-bottom: 30px;
    user-select: none;
}

.mainlog{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li a{
    background-color: black;
    padding:20px;
}